.btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .75rem 1.25rem;
    background-color: #7D298A;
    margin-top: 0.5625rem; 
    border-radius: 8px;

    font: var(--fw-bold) var(--fs-sm)/normal var(--ff-sans);
    height: 2.5rem;

    color: var(--text-title);

    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        display: block;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        z-index: -1;
        background-color: var(--pink-base);
        clip-path: circle(0%);
        transition: clip-path 400ms ease-out;
    }

    &:hover::before {
        clip-path: circle(100%);
    }
}