footer {
    background: center center/contain no-repeat url('../assets/image/book-trace-background.png');
    padding-block: 10.625rem 7.151875rem;
    padding-inline: 10rem;
    justify-content: space-between;
    align-items: center;

    & .left {
        
        & .separator {
            height: 1px;
            margin-block: 0.6875rem;
            background-color: var(--shape-stroke);
        }

        & .social-medias {
            justify-content: space-around;
            align-items: center;

            
            & > div {
                padding: .5rem .5rem .25rem;
                border-radius: 50%;
                transition: background-color 300ms;

                & svg path {
                    transition: fill 300ms;
                }

                &:hover {
                    background-color: var(--shape-stroke);

                    & svg path {
                        fill: var(--text-body);
                    }
                }
            }
        }

        & > img {
            width: 16.5rem;
        }
    }

    & nav {
        gap: 3.5rem;

        & .title {
            padding-bottom: .5rem;
        }

        & ul {
            gap: .75rem;

            & a {
                color: var(--blue-light); 
                font-weight: var(--fw-md);
                transition: color 200ms;

                &:hover {
                    color: var(--text-body);
                }
            }
        }
    }
}

@media (width < 50em) {
    footer {
        flex-direction: column;
        gap: 2.5rem;
        background-size: 100% 100%; 
        padding-block: 6.125rem 2.375rem;
        padding-inline: 2rem;

        & .left {
            display: flex;
            flex-direction: column;
            width: 100%;

            & img {
                align-self: center;
                width: 9.91375rem;
            }
        }
    }
}