#apresentation {
    display: flex;
    justify-content: center;
    min-height: 59.25rem;
    text-align: center;

    & > div {
        justify-self: flex-end;
        margin-inline: 10rem;
        max-width: 41rem;
        max-height: 12.5rem;

        & h1 {
            opacity: 0;
            animation: appear 2s cubic-bezier(1,-0.03, 0.5, 1) both;
        }

        & p {
            opacity: 0;
            padding-top: 2rem;
            padding-inline: 80px;
            animation: appear 500ms 1s ease both;
        }
    }
}

#hero {
    text-align: center;
    
    & div:nth-child(1) {
        padding-inline: 7.5rem;
        flex-direction: column;
        align-items: center;
        
        & p {
            font: var(--fw-md) 2rem/200% var(--ff-sans);
            & strong {
                color: var(--blue-light);
            }

            & span:nth-child(1) {
                opacity: .5;
                animation: appear 100ms both ease;
            }

            & span:nth-child(2) {
                opacity: .5;
                animation: appear 100ms 600ms both ease;
            }

            & span:nth-child(3) {
                opacity: .5;
                animation: appear 100ms 1200ms both ease;
            }
        }

        & > img:nth-child(1) {
            opacity: 0;
            transform: rotate(20deg);
            animation: grow 500ms both cubic-bezier(.58,.01,.47,1.5), appear 100ms both ease;
        }

        & div {
            display: flex;
            justify-content: space-between;
            width: 100%;

            & img:nth-child(1) {
                opacity: 0;
                transform: rotate(90deg);
                animation: grow 500ms 600ms both cubic-bezier(.58,.01,.47,1.5), appear 100ms 600ms both ease;
            }

            & img:nth-child(1):hover {
                transition: scale;
                transform: rotate(90deg), scale(1.1);
            }

            & img:nth-child(2) {
                transform: rotate(-20deg);
                opacity: 0;
                animation: grow 500ms 1200ms both cubic-bezier(0.35, 0.01, 0.6, 1.5), appear 100ms 1200ms both ease;
            }
        }
        
        & img {
            width: 5.5rem;
            height: 5.5rem;
            scale: 0;
        }
    }

    & div:nth-child(1):hover {
        
    }
}