.flex {
    display: flex;
}

@keyframes appear {
    to {
        opacity: 1;
    }
}

@keyframes disapear {
    from {
        opacity: 1;
    }

    to {
        opacity: .5;
    }
}

@keyframes grow {
    to {
        scale: 1;
    }
}

@keyframes grow2 {
    0% {
        scale: 1;
    }
    
    50% {
        scale: 1.1;
    }
}

@keyframes icon-animation {
    0% {
        scale: 0;
        opacity: 0;
    }

    100% {
        scale: 1;
        opacity: 1;
    }

}

@keyframes icon-animation-reverse {
    0% {
        scale: 1;
        opacity: 1;
    }

    100% {
        scale: 0;
        opacity: 0;
    }
    
}

